/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size:1rem;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*******************************************/
.hide { display: none !important; }
* { box-sizing: border-box; }
html {font-size:16px;}
html,body {margin:0; width:100%; height:100%;}

.main {
	width:100%; 
	height:100%;
	overflow: hidden;
	/* display: grid; */
	grid-template-columns:150px 1fr; grid-template-rows:1fr;
	overflow: scroll; 
	scrollbar-gutter:both-edges;
	-webkit-overflow-scrolling: touch;
}
	/* .main > .navigator { background:#A40202; border:2px solid #000; border-right:0;} */
	.main > .navigator { color:#FFF; overflow: scroll; scrollbar-gutter:both-edges; }
	.main > .navigator.production { background: #02a478;}
		.main .tabbars > div:first-child { margin-top: 1em; }
		.main .tabbars > div:last-child { margin-bottom: 1em; }
		.main .tabbars > div { padding:1em 0; width:100%; text-align:center; cursor: pointer; user-select: none; }
		.main .tabbars > div > span ,p{pointer-events: none; line-height:1.5rem;}
		.main .tabbars .active { background: rgb(255, 255, 255, 0.1); }


	.main .nav-head{ height:auto; width: 100%; margin: 0; padding: 0; color: #FFF; 
		/* background-image: url(../../external/img/logo-panal.png); background-position: 50% 60%; background-size: cover;  */
	}
	.main .nav-head .top-banner{ background-color: #1c79c5; height: 2rem; width: 100%; display: inline-flex; justify-content: space-between;  cursor: pointer; user-select: none;}
		.main .nav-head .top-banner> div > span ,p{pointer-events: none;}
	
	.main > .viewport { border:1px solid #000; width: 100%; height: 100%; overflow-y: auto; }


	.inner_module{
		overflow:hidden;
		display: flex;
		justify-content: center;
	}

@media screen and (max-width:768px){
	.main > .navigator.home_view_layout > div{
		margin: 1rem 10%;
	}
}

	.main > .navigator.home_view_layout {
		background:#f8f3e8;
		/* background:#28aab3; */
		/* padding: 2rem; background: linear-gradient(208deg, #D4467F 0%, #5B0619 100%); */
		height: 100%;
		/* background: linear-gradient(208deg, #46CBD4 0%, #06145B 100%); */
	}
	.main > .navigator.home_view_layout > div{
		width: 80%;
		margin: 2rem 10%;
		font-weight: 800;
	}
	.main > .navigator.home_view_layout > :nth-child(2){
		background-color: #715799 ;
	}
	.main > .navigator.home_view_layout > :nth-child(3){
		background-color: #F59138;
	}
	.main > .navigator.home_view_layout > :nth-child(4){
		background-color: #71b578;
	}
	.main > .navigator.home_view_layout > :nth-child(5){
		background-color: #ac90bb;
	}
	.main > .navigator.home_view_layout > :nth-child(6){
		background-color: #2B5CE2;
	}	
	.main > .navigator.home_view_layout > :last-child{
		background-color: #2B5CE2 ;
	}

		.main > .navigator.home_view_layout .more-info { display: none; font-size: 12px; }
		@media screen and (min-width:768px){
		.main > .navigator.home_view_layout .more-info { display: block; }
		}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background-color: rgba(0,0,0,0.8); */
	background-size: cover;
	background-blend-mode: multiply;
	background-image: url('../../external/img/12249037.jpg');
	background-color: rgba(0,0,0,0.66);
	z-index: 2;

	display: flex;
    justify-content: center;
    align-items: center;
}
	.overlay .message-box {
		color: #FFFFFF;
	}
	
	.overlay .init_container > div{
		margin: 0.25rem 0;	
	}
	@media screen and (min-width:768px){
		.overlay .init_container > div{
			margin: 0.5rem 0;	
		}
	}
	.overlay .init_container input{
		/* line-height: 1.2rem;
		font-size: 1rem; */
		line-height: 2rem;
		font-size: 1.75rem;
		width: 100%;
	}
	.overlay .init_container .init_btn_rigion > button{
		display: flex; 		
		font-size: 1.2rem; 
		font-weight: 800;
	}
		.overlay .init_container .init_btn_rigion > :nth-child(1){
			background-color: #63b8b3; 
		}
		.overlay .init_container .init_btn_rigion > :nth-child(2){
			background-color: #a4bf43;
		}

		
.login_module { display: flex; flex-direction: column; font-size: 1.8rem; justify-content: center;}
	.login_module .YK_Info { display: flex; flex-direction: column; margin-bottom: 4.5rem; margin-bottom: 0;}
		.login_module .YK_Info > p { padding: 0.5rem 0; }
		.login_module .YK_Info > p > span { line-height: 1.25rem;}
	.login_module .p_wellcom { color: azure; margin: 0.5rem; font-weight: 600; font-size: 1.5rem; align-self: center; }
	.login_module .yk_title { color: azure; align-self: center; font-size: 3rem; font-weight: 800; padding: 0.5rem 0;}
	.login_module .yk_info_top { margin:0; font-size: 1.4rem; font-weight: 800; line-height: 1.5rem; align-self: center; }
		.login_module .yk_info_top .p_dividing { width: 1.5rem; height:1.3rem; vertical-align: bottom; justify-content: center; align-items: center; display: inline-flex; margin-left: 2px; }
		
	.login_module .init_container{
		width: 80%;
		margin: 0 10%;
	}
	/* .login_module { padding: 0.025%;} */


@media screen and (min-width:768px){


	.login_module { display: flex; flex-direction: column; font-size: 1.8rem; justify-content: center;}
	.login_module .YK_Info { display: flex; flex-direction: column; margin-bottom: 4.5rem; }
		.login_module .YK_Info > p { padding: 0.5rem 0;}
		.login_module .YK_Info > p > span { line-height: 2.25rem;}
	.login_module .p_wellcom { color: azure; margin: 0.5rem; font-weight: 600; font-size: 1.5rem; align-self: center; }
	.login_module .yk_title { color: azure; align-self: center; font-size: 3rem; font-weight: 800; padding: 2rem 0;}
	.login_module .yk_info_top { margin: 0 0 0.75rem 0; font-size: 1.4rem; font-weight: 800; line-height: 1.5rem; align-self: center; }
		.login_module .yk_info_top .p_dividing { width: 1.5rem; height:1.3rem; vertical-align: bottom; justify-content: center; align-items: center; display: inline-flex; margin-left: 2px; }

	.login_module .init_container{
		width: 100%;
		margin: 0 0;
	}	
}



	/* 通用手機畫面 */
	/*Head-Card */

	.mobil_container{ display: flex; flex-direction: column ; width: 428px; height: 926px; position: relative; background: #F0F0EF ; overflow: scroll; }
	.mobil_container .Head-Card-Background{ width: 100%; height: 195pt; display: flex; flex-direction: column; }
	.mobil_container .Head-Card-Background .Mask{ width: 100%; height: inherit; position: absolute; background: linear-gradient(208deg, #D4467F 0%, #5B0619 100%); }
	.mobil_container .Head-Card-Background .Base{ width: 100%; height: inherit; position: absolute; background: linear-gradient(208deg, #46CBD4 0%, #06145B 100%); }
	.mobil_container .Head-Card-Background .Head_Card{height: 180px ; padding: 16px; margin: 1rem; position: relative; background: rgba(255, 255, 255, 0.10); border-radius: 9px; border: 1px #D4467F solid; 
		flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: inline-flex;	}
	.mobil_container .Head-Card-Background .Head_Card .Frame_top{ width: 100%; justify-content: space-between; align-items: center; gap: 7px; display: inline-flex; }
		.mobil_container .Head-Card-Background .Head_Card .Frame_top .top_left{flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: inline-flex;}
		.mobil_container .Head-Card-Background .Head_Card .Frame_top .top_left .member_name{ width: 180px; color: #F4F4F4; font-size: 16px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 22.40px; word-wrap: break-word;}
		.mobil_container .Head-Card-Background .Head_Card .Frame_top .top_left .Frame115{ justify-content: center; align-items: center; gap: 8px; display: inline-flex; }
			.mobil_container .Head-Card-Background .Head_Card .Frame_top .top_left .Frame115 .member_role{ color: rgba(255, 255, 255, 0.50); font-size: 14px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.80px; word-wrap: break-word; }
			.mobil_container .Head-Card-Background .Head_Card .Frame_top .top_left .Frame115 .Ellipse1247{ width: 4px; height: 4px; background: rgba(255, 255, 255, 0.50); border-radius: 9999px;}
			.mobil_container .Head-Card-Background .Head_Card .Frame_top .top_left .Frame115 .member_group{ color: rgba(255, 255, 255, 0.50); font-size: 14px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.80px; word-wrap: break-word; }
	
		.mobil_container .Head-Card-Background .Head_Card .Frame_top .IconInterfaceSolidEditRectangle { width: 31px; height: 40px; padding: 1.04px; justify-content: center; align-items: center; display: flex; }

	
	.mobil_container .Head-Card-Background .Head_Card .Rectangle{ width: 100%; height: 1px; background: rgba(255, 255, 255, 0.20); }

	.mobil_container .Head-Card-Background .Head_Card .Frame_bottom{ width: 100%; height: 46px; flex-direction: column; justify-content: space-between; align-items: flex-start; display: flex}
		
		.mobil_container .Head-Card-Background .Head_Card .Frame_bottom .Frame-contain{ width: 100%; justify-content:space-between; align-items: center; gap: 7px; display: inline-flex;}
			.mobil_container .Head-Card-Background .Head_Card .Frame_bottom .Frame-contain .Frame-left{ width: 180px; height: 41px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: inline-flex; }
				.mobil_container .Head-Card-Background .Head_Card .Frame_bottom .Frame-contain .Frame-left .frame-date-title{width: 141px; opacity: 0.84; color: rgba(255, 255, 255, 0.75); font-size: 14px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.80px; word-wrap: break-word}
				.mobil_container .Head-Card-Background .Head_Card .Frame_bottom .Frame-contain .Frame-left .frame-date{ color: rgba(255, 255, 255, 0.50); font-size: 14px; font-family: Plus Jakarta Sans; font-weight: 600; line-height: 16.80px; word-wrap: break-word;}
			.mobil_container .Head-Card-Background .Head_Card .Frame_bottom .Frame-contain .Frame-right{ justify-content:center; align-items: center; gap: 8px; display: flex;}

	.mobil_container .Head-Card-Background .NavigationBar{ width: 100%; height: 2.5rem; margin: 0px; backdrop-filter: blur(50px); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex }
		.mobil_container .Head-Card-Background .NavigationBar .Control{ align-self: stretch; justify-content: center; align-items: center; gap: 126px; display: inline-flex; }
			.mobil_container .Head-Card-Background .NavigationBar .Control .Control-left{ align-self: center; text-align: center; color: #F4F4F4; font-size: 1.5rem; font-family: Poppins; font-weight: 600; line-height: 1.5rem; word-wrap: break-word;}
			.mobil_container .Head-Card-Background .NavigationBar .Control .Control-right{ color: white;}
	
	/*Card-region */

	.Card-region{ display: flex; flex-direction: column;}
		.Card-region .Card{ display: flex; flex-direction: column; justify-content: space-between; align-items: center; width:calc(100% - 1rem); height: 211px; margin: 0.5rem; padding: 0.5rem; position: relative; box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10); cursor: pointer;}
		@media screen and (max-width:960px){
			.Card-region .Card{width:calc(100% - 2rem); margin: 1rem;}	
		}

		.Card-region .Card .Mask p{ display: none; color: red; font-weight: 800; margin-top: 2rem;}
		.Card-region .Card > div ,p ,span { pointer-events: none;}
			.Card-region .Card .Mask{ width: 100%; height: 211px; left: 0px; top: 0px; position: absolute; background: #FAF9F6; border-radius: 9px; transition:all 1s; display: flex; justify-content: center;}
			.Card-region .Card .upper_division{ width: 80%; height: 1px; position: relative; background: rgba(35.06, 35.06, 35.06, 0.12) }
			.Card-region .Card .under_division{ width: 80%; height: 1px; position: relative; background: rgba(35.06, 35.06, 35.06, 0.12) }

			.Card-region .Card .Card_contain_top{ width: 100%; position: relative; justify-content: space-between; align-items: flex-end; gap: 45px; display: inline-flex }
				.Card-region .Card .Card_contain_top .left{ height: 24px; margin: 0 0.5rem; justify-content: flex-start; align-items: center; display: inline-flex}
				.Card-region .Card .Card_contain_top .left .RoscaGroupIcon{ width: 100%; align-self: stretch; justify-content: center; align-items: center; display: inline-flex}

				.Card-region .Card .Card_contain_top .right{ align-self: stretch; flex-direction: column; justify-content: center; align-items: flex-end; display: inline-flex}
				.Card-region .Card .Card_contain_top .right .text-top{ text-align: right; color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word}
				.Card-region .Card .Card_contain_top .right .text-bottom{ width: 100%; height: 19px; text-align: right; color: #1B1212; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word}
				

			.Card-region .Card .Card_contain_middle{ width: 100%; height: 54px; position: relative; display: inline-flex; justify-content: space-between;}
				.Card-region .Card .Card_contain_middle .middle_left {flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex}
					.Card-region .Card .Card_contain_middle .middle_left .period {color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word}
					.Card-region .Card .Card_contain_middle .middle_left .bid_status { font-size: 16px; font-family: Poppins; font-weight: 600; line-height: 24px; word-wrap: break-word}
					.Card-region .Card .Card_contain_middle .middle_left .period_date { color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word}
				
				
				.Card-region .Card .Card_contain_middle .middle_right {flex-direction: column; justify-content: center; align-items: flex-end; display: inline-flex}
					.Card-region .Card .Card_contain_middle .middle_right .des_g_name {text-align: right; color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word}
					.Card-region .Card .Card_contain_middle .middle_right .name_in_group {text-align: right; color: #1B1212; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word}
					.Card-region .Card .Card_contain_middle .middle_right .count_in_group {text-align: right; color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word}

				.Card-region .Card .Card_contain_middle .middle_center {flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex}
					.Card-region .Card .Card_contain_middle .middle_center .period{text-align: center; color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word}
					.Card-region .Card .Card_contain_middle .middle_center .icon_item {justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex}
						.Card-region .Card .Card_contain_middle .middle_center .icon_item .Union {width: 4rem; height: 2px; background: rgba(27, 18, 18, 0.25)}
					.Card-region .Card .Card_contain_middle .middle_center .duration{text-align: center; color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word}
			
			
			.Card-region .Card .Card_contain_bottom { width: 100%; position: relative; justify-content: space-between; align-items: center; display: inline-flex;}
				.Card-region .Card .Card_contain_bottom .left {width: 168px; height: 35px; position: relative}
					.Card-region .Card .Card_contain_bottom .left .bid_title{ left: 0px; top: 22px; position: absolute; color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word}
					.Card-region .Card .Card_contain_bottom .left .ValidationApproval{ width: 24px; height: 24px; padding: 2px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex;}
						.Card-region .Card .Card_contain_bottom .left .ValidationApproval .Elements{width: 20px; height: 20px; position: relative}
				
				.Card-region .Card .Card_contain_bottom .right {justify-content: center; align-items: flex-start; gap: 8px; display: flex }
					.Card-region .Card .Card_contain_bottom .right .info_container { flex-direction: column; justify-content: center; align-items: flex-end; display: inline-flex }
						.Card-region .Card .Card_contain_bottom .right .info_container .bid_amount { text-align: right; color: #1B1212; font-size: 20px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word}
						.Card-region .Card .Card_contain_bottom .right .info_container .info_title { display: flex; gap:0.5rem ; align-items: center;}
						.Card-region .Card .Card_contain_bottom .right .info_container .info_title > p { text-align: right; margin: 0; color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; word-wrap: break-word ;vertical-align: baseline;}
						.Card-region .Card .Card_contain_bottom .right .info_container .info_title > span {color: gray; font-size: 1rem; vertical-align: baseline;}

		.inner_module .bage-bottom{ width:100%; background: rgba(250, 249, 246, 0.75); box-shadow: 0px -0.33000001311302185px 0px rgba(0, 0, 0, 0.30); backdrop-filter: blur(50px); justify-content: center; align-items: center; display: inline-flex;}
			.inner_module .bage-bottom .back_home{ padding: 1rem 0;flex-direction: column; justify-content: center; align-items: center; gap: 2px; display: flex; }
			.inner_module .bage-bottom .back_home .icon_item { pointer-events: none; width: 24px; height: 24px; padding: 2px; justify-content: center; align-items: center; display: inline-flex;}
			.inner_module .bage-bottom .back_home .lable { pointer-events: none; text-align: center; color: #797979; font-size: 10px; font-family: Plus Jakarta Sans; font-weight: 500; line-height: 15px; word-wrap: break-word;}
