.hide { display: none !important; }
* { box-sizing: border-box; }
html {font-size:16px;}
html,body {margin:0; width:100%; height:100%;}

.main {
	width:100%; 
	height:100%;
	overflow: hidden;
	/* display: grid; */
	grid-template-columns:150px 1fr; grid-template-rows:1fr;
	overflow: scroll; scrollbar-gutter:both-edges;
}
/*
	.main > .navigator { background:#A40202; color:#FFF; border:2px solid #000; border-right:0; overflow: scroll; scrollbar-gutter:both-edges; }
	.main > .navigator.production { background: #02a478;}
		.main .tabbars > div:first-child { margin-top: 1em; }
		.main .tabbars > div:last-child { margin-bottom: 1em; }
		.main .tabbars > div { padding:1em 0; width:100%; text-align:center; cursor: pointer; user-select: none; }
		.main .tabbars > div > span ,p{pointer-events: none;}
		.main .tabbars .active { background: rgb(255, 255, 255, 0.1); }
*/	

	.main .nav-head{ height:240px; width: 100%; margin: 0; padding: 0; color: #FFF; background-image: url(../../external/img/logo-panal.png); background-position: 50% 60%; background-size: cover; }
	.main .nav-head .top-banner{ background-color: #1c79c5; height: 2rem; width: 100%; display: inline-flex; justify-content: space-between;  cursor: pointer; user-select: none;}
		.main .nav-head .top-banner> div > span ,p{pointer-events: none;}
	
	.main > .viewport { border:1px solid #000; width: 100%; height: 100%; overflow-y: auto; }


	.inner_module{
		overflow:hidden;
		display: flex;
		justify-content: center;
	}

@media screen and (max-width:960px) {
	.main > .navigator.home_view_layout {
		background:#f8f3e8;
		/* background:#28aab3; */
		/* padding: 2rem; background: linear-gradient(208deg, #D4467F 0%, #5B0619 100%); */
		height: 100%;
		/* background: linear-gradient(208deg, #46CBD4 0%, #06145B 100%); */
	}
	.main > .navigator.home_view_layout > div{
		width: 80%;
		margin: 2rem 10%;
		font-weight: 800;
	}
	.main > .navigator.home_view_layout > :nth-child(3){
		background-color: #715799 ;
	}
	.main > .navigator.home_view_layout > :nth-child(4){
		background-color: #F59138;
	}
	.main > .navigator.home_view_layout > :nth-child(5){
		background-color: #71b578;
	}
	.main > .navigator.home_view_layout > :nth-child(6){
		background-color: #ac90bb;
	}
	.main > .navigator.home_view_layout > :last-child{
		background-color: #2B5CE2 ;
	}

		.main > .navigator.home_view_layout .more-info { font-size: 12px; }
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background-color: rgba(0,0,0,0.8); */
	background-size: cover;
	background-blend-mode: multiply;
	background-image: url('../../external/img/12249037.jpg');
	background-color: rgba(0,0,0,0.66);
	z-index: 2;

	display: flex;
    justify-content: center;
    align-items: center;
}
	.overlay .message-box {
		color: #FFFFFF;
	}

	.overlay .init_container > div{
		margin: 0.5rem 0;	
	}
	.overlay .init_container input{
		line-height: 1.2rem;
		font-size: 1rem;
		width: 100%;
	}
	.overlay .init_container .init_btn_rigion > button{
		display: flex; 		
		font-size: 1.2rem; 
		font-weight: 800;
	}
		.overlay .init_container .init_btn_rigion > :nth-child(1){
			background-color: #63b8b3; 
		}
		.overlay .init_container .init_btn_rigion > :nth-child(2){
			background-color: #a4bf43;
		}